<div class="enquiry-desc">
<p>Please note we are not able to respond to all press enquiries.</p>
<p>If you are looking for images or video footage to use you do not need to contact us. Please refer to our <%= link_to "press resource pack", "https://drive.google.com/drive/folders/0BxKrrlaHSn_UbEgxaGZHMTBYdk0?usp=sharing", target: "_blank" %>. All content is licensed under CC-BY-ND unless stated otherwise.</p>
</div>

<%= f.input :organisation, required: true %>
<%= f.input :role, required: true %>
<%= f.input :phone, as: :string, required: true %>
<%= f.input :message, as: :text, wrapper: :default %>

<!-- Message received, thankyou. -->
<div class="thanks" id="thank-you">
  <div class="container">
    <h1>Thank you.</h1>
    <p>Message received, thank you.</p>
  </div>
</div>
