<h3>Event Details</h3>

<%= f.input :organisation, label: "Event Name", as: :string, required: true %>

<%= f.input :event_start_date, as: :date, wrapper: :default, start_year: Date.today.year, end_year: Date.today.year + 4, include_blank: true %>
<%= f.input :event_end_date, as: :date, include_blank: true, wrapper: :default, start_year: Date.today.year, end_year: Date.today.year + 4 %>

<%= f.input :about_event, as: :text, wrapper: :default, label: "About the event" %>

<%= f.input :requested_speaker, required: true %>
<%= f.input :speaking_fee, as: :string, required: true %>
<%= f.input :expenses, as: :boolean, label: "&nbsp;Expenses included?".html_safe, wrapper: :default %>

<%= f.input :message, as: :text, wrapper: :default %>

<div class="thanks" id="thank-you">
  <div class="container">
    <h1>Thank you.</h1>
    <p>Message received, thank you. One of the team will get in contact with you as soon as possible.</p>
  </div>
</div>
