<%= f.input :organisation, label: "Event Name" %>

<%= f.input :event_start_date, as: :date %>
<%= f.input :event_end_date, as: :date, include_blank: true %>

<%= f.input :requested_speaker %>
<%= f.input :about_event, as: :text %>
<%= f.input :expenses, as: :boolean, label: "Expenses included?" %>
<%= f.input :speaking_fee %>
<%= f.input :message, as: :text %>

<div class="thanks">
  <div class="container">
    <h1>Thank you.</h1>
    <p>Message received, thank you. One of the team will get in contact with you as soon as possible.</p>
  </div>
</div>
