<% content_for :header do %>
  <div class="description-container">
    <div class="top-description">
      <%= title "Contribute to WikiHouse" %>
      <p>WikiHouse technologies are being developed by an open community of architects, designers, engineers and builders around the world. Anyone is invited to participate, either by improving, spreading or adapting existing technologies, or developing new technologies using the WikiHouse design principles.</p>
    </div>
  </div>
<% end %>

<%= render "nodes/tiles", tiles: @community_page.tiles %>

<div id="community-map">
  <iframe src="https://map.wikihouse.cc/embed" frameborder="0" width="100%" height="100%"></iframe>
</div>

<div class="flex">
  <div class="half open-challenges">
    <div class="container">
      <div class="top wr">
        <h2>Open Challenges</h2>
        <ol>
          <% @community_page.challenges.each do |challenge| -%>
          <li>
            <div class="description">
              <h4><%= challenge.title %></h4>
              <p><%= challenge.description %></p>
            </div>
          </li>
          <% end -%>
        </ol>

      </div>

      <%= link_to "Join our Slack group", "https://wikihouse.typeform.com/to/OHv4SE", class: 'bottom-link dark typeform-share link', data: { mode: '2' } %>
    </div>
  </div>
  <%= render "application/latest_blog_post", blog_post: @community_page.blog_post %>
</div>
