<div id="homepage-slider" class="main-slider-holder swiper-container main-slider-container">
  <div class="swiper-wrapper">
    <% @home_page.sliders.each do |slider| -%>
      <div class="<%= slider.class_name %> swiper-slide" style="<%= slider.style %>">
        <div class="s-container">
          <div class="slide-content">
            <span class="typed"><%= slider.formatted_title %></span>
            <p><%= slider.caption %></p>
          </div>
          <%= link_to slider.link_text, slider.link_url, class: "bottom-link #{slider.class_name}" %>
        </div>
      </div>
    <% end -%>
  </div>
</div>

<div style="background: #F0F0F0"><%= render "application/slider" %></div>
<%= render "application/microhouse_render" %>
<%= render "application/propose_and_counts" %>

<div id="media-links">
  <ul id="press-logos">
    <% @home_page.press_articles.each do |article| -%>
      <li><%= link_to image_tag(article.image_url, alt: article.title), article.link %></li>
    <% end -%>
  </ul>
</div>

<%= render "partners" %>
