<% title "Partners" %>
<% vals = [
  ["Pre", "Manual<br/> Distributed"],
  ["1st", "Mechanised<br/> Centralised"],
  ["2nd", "Electrical<br/> Centralised"],
  ["3rd", "Digital<br/> Centralised"],
  ["4th", "Digital<br/> Decentralised"]
] %>


<div id="revolutions">
  <% vals.each_with_index do |val, index| %>
    <div class="revolution">
      <div class="img"><%= image_tag "steps/#{index}@2x.png" %></div>
      <h3><%= val[0] %></h3>
      <p><%= val[1].html_safe %></p>
    </div>
  <% end %>
</div>

<%= render "nodes/tiles", tiles: @partners_page.tiles %>

<div id="join-us">
  <div class="container">
    <%= markdown @partners_page.pricing_table %>
  </div>

  <div style="position: relative; padding: 4em 0 2em 0;">
    <div class="container">
      <%= link_to "Get in touch", enquiries_path('becoming-a-partner'), class: 'bottom-link' %>
    </div>
  </div>
</div>

<%= render "partners" %>
