<% content_for :header do %>
  <div class="container">      <div class="top-description">
  <h1><%= link_to "Library", library_categories_path %> / <%= params[:library_category_id].capitalize %></h1></div></div>
<% end %>

<% @repos.each do |repo| %>
  <%= link_to [request.path, repo.name].join('/'), class: 'big-type-link' do %>
  <div class="flex">
    <div class="half">
      <div class="container">
        <%= image_tag repo.img %>
        <%#= image_tag "microhouse.svg" %>
      </div>
    </div>
    <div class="half type-description">
      <div class="container">
        <h2><%= repo.name %></h2>
        <!-- <p>MicroHouse is a high-performance, one-bed house type, designed using the WikiHouse building system. It uses WikiHouse products WREN and SPARROW. It has been designed primarily for use in the UK, but could also be adapted for other countries and regions. The home can be largely self-assembled, and costs around £37,000 GBP to produce.</p> -->
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse</p>
      </div>
    </div>
  </div>
  <% end %>
<% end %>


<%= link_to '#', class: 'big-type-link new-type' do %>
<div class="flex">
  <div class="half">
    <div class="container plus-holder">
      <span class="plus">+</span>
    </div>
  </div>
  <div class="half type-description">
    <div class="container">
      <span>Submit a new type to this library</span>
    </div>
  </div>
</div>
<% end %>

<div class="container">
<ul id="types-links">
  <!-- <li><%= link_to "Submit a new item to this repository", "#", style: "background: url(#{asset_path('icons/plus.png')}) center right no-repeat;" %></li> -->
  <!-- <li><%= link_to "Can't see the type you need? To commission a new design, get in touch <strong>here</strong>".html_safe, "#", style: "background: url(#{asset_path('icons/rightarrow.png')})
  center right no-repeat;" %></li> -->
  <li><%= link_to "Can't see the type you need? To commission a new design, get in touch <strong>here</strong>".html_safe, "#" %></li>
</ul>
</div>
