<% content_for :header do %>
  <div class="container">      <div class="top-description">
<h1><%= link_to "Library", library_path %> / Types</h1></div></div>
<% end %>

<%= link_to 'types/microhouse', class: 'big-type-link' do %>
<div class="flex">
  <div class="half">
    <div class="container">
      <%= image_tag "microhouse.svg" %>
    </div>
  </div>
  <div class="half type-description">
    <div class="container">
      <h2>Microhouse</h2>
      <p>MicroHouse is a high-performance, one-bed house type, designed using the WikiHouse building system. It uses WikiHouse products WREN and SPARROW. It has been designed primarily for use in the UK, but could also be adapted for other countries and regions. The home can be largely self-assembled, and costs around £37,000 GBP to produce.</p>
    </div>
  </div>
</div>
<% end %>


<%= link_to '#', class: 'big-type-link new-type' do %>
<div class="flex">
  <div class="half">
    <div class="container">
      <span class="plus">+</span>
    </div>
  </div>
  <div class="half type-description">
    <div class="container">
      <span>Submit a new type to this library</span>
    </div>
  </div>
</div>
<% end %>

<div class="container">
<ul id="types-links">
  <!-- <li><%= link_to "Submit a new item to this repository", "#", style: "background: url(#{asset_path('icons/plus.png')}) center right no-repeat;" %></li> -->
  <!-- <li><%= link_to "Can't see the type you need? To commission a new design, get in touch <strong>here</strong>".html_safe, "#", style: "background: url(#{asset_path('icons/rightarrow.png')})
  center right no-repeat;" %></li> -->
  <li><%= link_to "Can't see the type you need? To commission a new design, get in touch <strong>here</strong>".html_safe, "#" %></li>
</ul>
</div>
