<% content_for :header do %>
  <div class="container">
    <div class="top-description">
      <h1><%= link_to "Library", library_path %> / <%= link_to "Types", things_path %> / <%= @repo.name %></h1>
    </div>
  </div>
<% end %>

<div class="header-preview"><div class="container"><%= image_tag "microhouse.svg" %></div></div>

<div class="type-details">
  <div class="container">
    <div class="left-info">
      <% title @repo.name %>
      <%= markdown(image_sub(@repo.data['readme'])) %>
    </div>
    <div class="right-info">
      <div class="download-buttons">
        <%= link_to '<i class="material-icons">file_download</i> Download'.html_safe, @repo.archive_url, class: 'download button' %>
        <%= link_to fa_icon("github", text: "Fork on github").html_safe, @repo.fork_url, class: 'button' %>
      </div>
      <h5>Hosts</h5>
      <ul>
        <li>
          <%= github_user "claytonprest" %>
        </li>
      </ul>
      <hr/>
      <h5>Contributors</h5>
      <ul id="contributors">
        <li><%= link_to "claytonprest", "https://www.github.com/claytonprest" %></li>
        <li><%= link_to "Alastairparvin", "https://www.github.com/Alastairparvin" %></li>
      </ul>
      <p><strong>Forks</strong><%= link_to @repo.data['forks'], "https://github.com/#{@repo.name}/#{@repo.owner}/network" %></p>
      <p><strong>Latest Update</strong><%= @repo['updated_at'] %></p>
      <hr/>
      <!-- <p><strong>Status in your location:</strong> Ready to prototype</p> -->
      <!-- <hr/> -->
      <h5>Files</h5>
      <ul id="files-list">
        <% @repo.data['files'].each do |file| %>
          <li>
            <%= render "application/file", filename: file['name'], datetime: file['updated_at'] %>
          </li>
        <% end %>
      </ul>

      <ul id="action-buttons">
        <li id="exclamation-icon"><%= image_tag("icons/exclamation.svg") %></li>
        <li id="fork-text"><%= link_to "Report an Issue", @repo.issues_url %></li>
      </ul>

      <hr/>
      <h5>License</h5>
      <p>This work is licensed under a <a href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution Sharealike 3.0 Unported License</a></p>
    </div>
  </div>
</div>

<div class="container terms">
  <div class="left-info">
    <%= markdown( File.open('app/views/things/terms.md').read ) %>
  </div>
</div>
