<% content_for :header do %>
  <div class="about-description">
    <div class="container">
      <div class="top-description">
        <%= title "About" %>

        <p>WikiHouse is an open source project to reinvent the way we make homes.</p>
        <p>It is being deveoped by architects, designers, engineers, inventors, manufacturers and builders, collaborating to develop the best, simplest, most sustainable, high-performance building technologies, which anyone can use and improve.</p>
        <p>Our aim is for these technologies to become new industry standards; the bricks and mortar of the digital age.</p>
      </div>
    </div>
  </div>
<% end %>

<div class="container top">
  <h4>Design Principles</h4>
  <% JSON.parse(open('data/about.json').read).each_with_index do |item, index| %>
    <div class="about-point">
      <div class="inner">
        <!-- <div class="icon"><%= image_tag "about-icons/#{item['icon']}.svg" %></div> -->
        <div class="icon"><%= image_tag "points/Asset #{index+1}.svg", class: 'svg' %></div>
        <div class="description">
          <h5><%= item['title'] %></h5>
          <p><%= item['description'] %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="our-mission">
  <div class="container">
    <h4>Our mission</h4>
    <ol>
      <li>To put the design solutions for building low-cost, low-energy, high-performance homes into the hands of every citizen and business on earth.</li>
      <li>To use digitisation to make it easier for existing industries to design, invest-in, manufacture and assemble better, more sustainable, more affordable homes for more people.</li>
      <li>To grow a new, distributed housing industry, comprising many citizens, communities and small businesses developing homes and neighbourhoods for themselves, reducing our dependence on top-down, debt-heavy mass housing systems.</li>
    </ol>
  </div>
</div>
<div class="accordion-title"><div class="container">FAQ</div></div>
<div class="accordion-title"><div class="container">About WikiHouse Foundation</div></div>
<div class="accordion-title"><div class="container">Licenses & terms of use</div></div>

<div class="container">
  <h2>Team</h2>
</div>

<div class="container">
  <h2>Contact Us</h2>
</div>
