<% content_for :header do %>
  <div class="description-container">
    <div class="top-description">
      <%= title "About WikiHouse Foundation" %>
      <div>
        <p>WikiHouse Foundation is a non-profit open technology foundation, based in the UK. Our purpose is to allow companies, organisations and governments to work together to develop new open technologies, standards and common infrastructures for housing and sustainable development.</p>
      </div>
    </div>
  </div>
<% end %>

<div id="about-diagram">
  <%= image_tag "clock.svg", style: 'width: 60%; margin: 20px auto;' %>
</div>

<div class="team-container">
  <div class="team-title"><h2>Team</h2></div>
  <div class="team">
    <% if cms_content? %>

    <% @team_members.each do |team_member| %>
      <div class="team-member">
        <div class="photo" style="background-image: url('<%= team_member.photo_url %>')"></div>
        <div class="description">
          <span class="name"><%= team_member.name %></span>
          <span class="role"><%= team_member.role %></span>
          <p><%= link_to "@#{team_member.twitter_handle}", team_member.twitter_url %></p>
        </div>
      </div>
    <% end %>

    <% else %>

    <% @team_members.shuffle.each do |team_member| %>
      <div class="team-member">
        <div class="photo" style="background-image: url('<%= asset_path "team/#{[team_member[:first_name],team_member[:last_name]].join('_').downcase}.jpg" %>')"></div>
        <div class="description">
          <span class="name"><%= [team_member[:first_name],team_member[:last_name]].join(' ') %></span>
          <span class="role"><%= team_member[:role] %></span>
          <p><%= link_to "@#{team_member[:twitter]}", "https://twitter.com/#{team_member[:twitter]}" %></p>
        </div>
      </div>
    <% end %>

    <% end %>
  </div>
</div>
