<% content_for :header do %>
<div class="container">
  <div class="top-description">
    <%= title "R&D Community" %>
    <p>WikiHouse technologies are being developed by an open community of architects, designers, engineers and builders around the world. Anyone is invited to participate, either by improving, spreading or adapting existing technologies, or developing new technologies using the WikiHouse design principles.</p>
  </div>
</div>
<% end %>

<div class="flex">
  <div class="half wren">
    <div class="container">
      <h2>WREN v4.3</h2>
      <p>The latest version of the WREN structural chassis system has been released in the library. It is simpler to build, with a new end wall system.</p>
      <%= image_tag "parts_1.svg" %>
      <%= link_to "View WREN v4.3 in the library", "#", class: 'bottom-link' %>
    </div>
  </div>
  <div class="half connect">
    <div class="container">
      <h2>Connect</h2>
      <p>The WikiHouse R&D community currently meets in Slack. Anyone may request access to the group, but this is not a forum, please only join this group if you are intending to actively adapt or develop WikiHouse technologies.</p>
      <%= link_to "Join SLACK group", "https://slack.wikihouse.cc", class: 'bottom-link' %>
    </div>
  </div>
</div>

<div id="community-map">
  <iframe src="https://map.wikihouse.cc/embed" frameborder="0" width="100%" height="100%"></iframe>
</div>

<div class="flex">
  <div class="half open-challenges">
    <div class="container">
      <h2>Open Challenges</h2>
      <ol>
        <% 4.times do %>
        <li>
          <div class="description">
            <h4>Structural development of WREN</h4>
            <p>A description of the activity. Who might be required to do it, and perhaps a link to how and where to start.</p>
          </div>
        </li>
        <% end %>
      </ol>
    </div>
  </div>
  <div class="half news">
    <%= render "application/latest_medium_post" %>
  </div>
</div>

