<% content_for :header do %>
  <div class="description-container">
    <div class="top-description">
      <%= title "R&D Community" %>
      <p>WikiHouse technologies are being developed by an open community of architects, designers, engineers and builders around the world. Anyone is invited to participate, either by improving, spreading or adapting existing technologies, or developing new technologies using the WikiHouse design principles.</p>
    </div>
  </div>
<% end %>

<div class="flex">
  <div class="half wren">
    <div class="container">
        <div class="top wr">
          <h2>WREN v4.3</h2>
          <p>The latest version of the WREN structural chassis system has been released in the library. It is simpler to build, with a new end wall system.</p>
          <%= image_tag "parts_1.svg" %>
        </div>
      <%= link_to "View WREN v4.3 in the library", "#", class: 'bottom-link dark' %>
    </div>
  </div>
  <div class="half connect">
    <div class="container">
        <div class="top wr">
          <h2>Connect</h2>
          <p>The WikiHouse R&D community currently meets in Slack. Anyone may request access to the group, but this is not a forum, please only join this group if you are intending to actively adapt or develop WikiHouse technologies.</p>
        </div>
      <%= link_to "Join SLACK group", communities_guide_path, class: 'bottom-link' %>
    </div>
  </div>
</div>

<div id="community-map">
  <iframe src="<%= ENV.fetch('wikihouse_map') %>" frameborder="0" width="100%" height="100%"></iframe>
</div>

<div class="flex">
  <div class="half open-challenges">
    <div class="container">
      <div class="top">
        <h2>Open Challenges</h2>
        <ol>
          <li>
            <div class="description">
              <h4>Structural testing and documentation of WREN</h4>
              <p>In order to make it easier for engineers, building control officers and mortgage companies to do structural calculations and to certify WREN in projects, we need structural engineers to do further R&D, structural lab testing and documentation of the system’s structural performance. Find out more here.</p>
            </div>
          </li>
          <li>
            <div class="description">
              <h4>Help improve documentation</h4>
              <p>Help develop better documentation for any of the existing solutions in the library, including models, instruction manuals and even instructional videos.</p>
            </div>
          </li>
          <li>
            <div class="description">
              <h4>Fork WREN</h4>
              <p>Can you improve on the WREN system, for example, by making it easier, simpler and safer to build multiple storeys? Or create a fork and adapt it to your location.</p>
            </div>
          </li>
          <li>
            <div class="description">
              <h4>Develop a new open building technology</h4>
              <p>Develop, test and share a new open building technology using the WikiHouse technology that solves a problem, and is compatible with the WikiHouse design principles. This might be any kind of building component, or a digital tool.</p>
            </div>
          </li>
          <li>
            <div class="description">
              <h4>Test and develop STARLING</h4>
              <p>STARLING is an interior door kit which can be manufactured to size and rapidly assembled. Further testing and documentation of the assembly and installation process is required.</p>
            </div>
          </li>
        </ol>

      </div>
      <%= link_to "Join our Slack Group", communities_guide_path, class: 'bottom-link dark' %>
    </div>
  </div>
  <div class="half news">
    <%= render "application/latest_medium_post" %>
  </div>
</div>
