<%#= content_for(:header) do "&nbsp;"; end %>

<%#= render "application/hero" %>
<%= render "application/homepage_slider" %>
<%= render "application/slider" %>
<%= render "application/microhouse_render" %>
<%= render "application/propose_and_counts" %>
<%#= render "application/sketchfab_preview" %>
<%#= render "application/homepage_video" %>

<div id="media-links">
  <ul id="press-logos">
    <li><%= image_tag "press/BBC-01.svg" %></li>
    <li><%= image_tag "press/Forbes-01.svg" %></li>
    <li><%= image_tag "press/TED-01.svg" %></li>
    <li><%= image_tag "press/The Guardian-01.svg" %></li>
    <li><%= image_tag "press/The Independent.svg" %></li>
    <li><%= image_tag "press/Wired-01.svg" %></li>
  </ul>
</div>

<%= render "partners" %>
