<%#= content_for(:header) do "&nbsp;"; end %>

<style type="text/css">
  /* inline styles so that they load instantly */
  .hero {
    background-image: url(<%= asset_path('sky.jpg') %>);
    background-size: cover;
    background-color: #232323;
    background-position: center -10%;
    background-attachment: fixed;
  }
</style>

<div class="hero">
  <div class="fade">
    <div class="container">
      <span class="typed"></span>
      <!-- <span class="typed">The future of homes.<br/>By everyone, for<br/>everyone.</span> -->
      <!-- <p>Simple, sustainable, open building technologies.</p> -->
    </div>
  </div>
</div>

<%= render "application/slider" %>

<div id="preview">
  <div class="container">
    <iframe width="100%" height="520" src="https://sketchfab.com/models/ac3263022fca412c934ea9dd7c5b5521/embed" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>
    <%= link_to "Download files from the library", things_path, class: 'bottom-link' %>
  </div>
</div>

<div class="flex drop-shadow">
  <div class="half propose">
    <div class="container">
      <div class="top">
        <div class="inside">
          <h3>Propose a pilot project.</h3>
          <p>The first WikiHouse technologies are in BETA stage and are being used in pilot projects. If you'd like your project to be one of them, please tell us about it here.</p>
          <%= image_tag "righthouse.svg", style: 'width: 80%; margin-left: 40px;' %>
        </div>
      </div>
      <%#= link_to "Propose a pilot", propose_path, class: 'bottom-link' %>
    </div>
  </div>
  <div class="half stats" id="counts">
    <div class="container">
      <div class="top">
        <div class="info"><span class="count" id="c1">30</span> active teams</div>
        <div class="info"><span class="count" id="c2">804</span> downloads in the last month</div>
        <div class="info"><span class="count" id="c3">45</span> commits in the last month</div>
        <div class="info"><span class="count" id="c4">3000</span> files</div>
        <div class="info"><span class="count" id="c5">3</span> open challenges</div>
      </div>
      <%= link_to ("Browse our Library").html_safe, library_path, class: 'bottom-link' %>
      <!-- #{fa_icon('github')} -->
    </div>
  </div>
</div>

<div id="media-links">
  <div class="container">
    <h5 class="coming-soon">media links</h5>
  </div>
</div>

<%= render "partners" %>
