<style type="text/css">
  /* inline styles so that they load instantly */
  .hero {
    background-image: url(<%= asset_path('video-preview.jpg') %>);
    background-size: cover;
    background-color: #232323;
    background-position: bottom center;
  }
</style>

<div class="hero">
  <video src="/videos/timelapse.webm" class="loop" loop autoplay></video>
  <div class="fade">
    <div class="container">
      <span class="typed"></span>
      <!-- <span class="typed">The future of homes.<br/>By everyone, for<br/>everyone.</span> -->
      <!-- <p>Simple, sustainable, open building technologies.</p> -->
    </div>
  </div>
</div>

<%= render "application/slider" %>

<div id="preview" style="text-align: center">
  <%= image_tag "house.svg", style: 'height: 100%;' %>
  Download files from the library
</div>

<div class="flex drop-shadow">
  <div class="half propose">
    <div class="container">
      <div class="inside">
        <h3>Propose a pilot project.</h3>
        <p>The first WikiHouse technologies are in BETA stage and are being used in pilot projects. If you'd like your project to be one of them, please tell us about it here.</p>
        <%= image_tag "righthouse.svg", style: 'width: 80%; margin-left: 40px;' %>
        <%= link_to "Propose a pilot", propose_path, class: 'bottom-link' %>
      </div>
    </div>
  </div>
  <div class="half stats" id="counts">
    <div class="container">
      <div class="info"><span class="count" id="c1">30</span> active teams</div>
      <div class="info"><span class="count" id="c2">804</span> downloads in the last month</div>
      <div class="info"><span class="count" id="c3">45</span> commits in the last month</div>
      <div class="info"><span class="count" id="c4">3000</span> files</div>
      <div class="info"><span class="count" id="c5">3</span> open challenges</div>

      <%= link_to ("Visit our #{fa_icon('github')} Github Page").html_safe, library_path, class: 'bottom-link' %>
    </div>
  </div>
</div>

<div id="media-links">
  <div class="container">
    <h5 class="coming-soon">media links</h5>
  </div>
</div>

<div id="partners-logos">
  <div class="container">
    <h5 class="coming-soon">partners logos</h5>
  </div>
</div>
