<% content_for :header do %>
  <div class="container">
    <div class="top-description"><%= title "Library" %></div>
  </div>
<% end %>

<div class="types">

  <%= link_to things_path do %>
  <div class="type big-type-link">
    <div class="container">
      <div class="img"><%= image_tag "library/Asset 1.svg" %></div>
      <div class="description">
        <h2>Types</h2>
        <p>Ready-designed standard building types, combining a number of products into a whole building design which can be adapted to fit different users and sites.</p>
      </div>
    </div>
  </div>
  <% end %>

  <%= link_to technologies_path do %>
  <div class="type big-type-link">
    <div class="container">
      <div class="img"><%= image_tag "library/Asset 2.svg" %></div>
      <div class="description">
        <h2>Technologies</h2>
        <p>Open products and systems that can make up a sub components of an overall building.</p>
      </div>
    </div>
  </div>
  <% end %>

  <%= link_to '#' do %>
  <div class="type big-type-link">
    <div class="container">
      <div class="img"><%= image_tag "library/Asset 3.svg" %></div>
      <div class="description">
        <h2>Tools</h2>
        <p>Open source tools for the manufacture or assembly of homes.</p>
      </div>
    </div>
  </div>
  <% end %>

</div>
