<% title "Partners" %>
<% vals = [
  ["Pre", "Manual<br/> Distributed"],
  ["1st", "Mechanised<br/> Centralised"],
  ["2nd", "Electrical<br/> Centralised"],
  ["3rd", "Digital<br/> Centralised"],
  ["4th", "Digital<br/> Decentralised"]
] %>


<div class="container" id="revolutions">
  <div class="flex">
  <% vals.each_with_index do |val, index| %>
    <div class="part">
      <div class="img"><%= image_tag "steps/#{index}@2x.png" %></div>
      <h3><%= val[0] %></h3>
      <p><%= val[1].html_safe %></p>
    </div>
  <% end %>
  </div>
</div>

<div class="flex">
  <div class="half next-industrial">
    <div class="container">
      <div class="top">
        <h2>The next industrial revolution in housing</h2>
        <p>Along with our partners WikiHouse Foundation are developing the first smart, distributed supply chain for homes. Join us.</p>
      </div>
      <%= link_to "Download our PDF prospectus", "#", class: 'bottom-link dark download-pdf' %>
    </div>
  </div>

  <div class="half digital-infrastructure">
    <div class="fade"></div>
    <div class="container" style="z-index: 200; position: relative">
      <div class="top">
        <h2>Digital infrastructure for resilient cities</h2>
      </div>
      <%= link_to "Read our white paper on the UK housing crisis", "#", class: 'bottom-link' %>
    </div>
  </div>
</div>

<%
  things = [["Visible on all website & communications",
  "Opportunities for product promotion where appropriate",
  "Membership of online consortium group",
  "First private BETA access to the platform",
  "Attendance of annual seminar"],

  ["Keynote talk from a founder at your organisation on request",
  "Use of WikiHouse Partners logo",
  "Support developing your local pilot project*",
  "First opportunity to list as a certified provider through the OpenChain",
  "Private workshops with the WikiHouse Foundation team*"],

  ["Opportunity to set/host an R&D working group, major pilot project or open challenge",
  "Headline listing as a core partner in the WikiHouse project",
  "First opportunity to deploy a system-wide product or service through the OpenChain*",
  "Seat on the steering group"]]
%>
<div id="join-us">
  <div class="container">
    <h2>Join Us</h2>
    <table>
      <thead>
        <tr><td></td><th><div><span>Supporter</span></div></th><th><div><span>Partner</span></div></th><th><div><span>Core Partner</span></div></th></tr>
      </thead>
      <% things.each_with_index do |thing, index| %>
        <tbody>
          <% thing.each do |label| %>
            <tr><th><%= label %></th><td data-label="Supporter"><%= dot_helper index, 0 %></td><td data-label="Partner"><%= dot_helper index, 1 %></td><td data-label="Core Partner"><%= dot_helper index, 2 %></td></tr>
          <% end %>
        </tbody>
      <% end %>
      <tfoot>
        <tr><th><span class="title">Suggested Amount</span></th><td data-label="Supporter">£5k+</td><td data-label="Partner">£15k+</td><td data-label="Core Partner">£50k+</td></tr>
      </tfoot>
    </table>

    <p>* Figure & scope will vary case by case.</p>
  </div>

  <div style="position: relative; padding: 4em 0 2em 0;">
    <div class="container">
      <%= link_to "Get in touch", enquiries_path, class: 'bottom-link' %>
    </div>
  </div>
</div>

<%= render "partners" %>
