<% title "Partners" %>
<% vals = [
  ["Pre", "Manual<br/> Distributed"],
  ["1st", "Mechanised<br/> Centralised"],
  ["2nd", "Electrical<br/> Centralised"],
  ["3rd", "Digital<br/> Centralised"],
  ["4th", "Digital<br/> Decentralised"]
] %>


<div id="revolutions">
  <% vals.each_with_index do |val, index| %>
    <div class="revolution">
      <div class="img"><%= image_tag "steps/#{index}@2x.png" %></div>
      <h3><%= val[0] %></h3>
      <p><%= val[1].html_safe %></p>
    </div>
  <% end %>
</div>


<div class="flex">
  <div class="half next-industrial">
    <div class="container">
      <div class="top wr">
        <h2>The next industrial revolution in housing</h2>
        <p>Along with our partners WikiHouse Foundation are developing the first smart, distributed supply chain for homes. Join us.</p>
      </div>
      <%= link_to "Download our PDF prospectus", "https://static.wikihouse.cc/Partners%202017v2.1.pdf", class: 'bottom-link dark download-pdf', target: '_blank' %>
    </div>
  </div>

  <div class="half digital-infrastructure">
    <div class="fade"></div>
    <div class="container">
      <div class="top wr">
        <h2>Digital infrastructure for resilient cities</h2>
        <p class="image-credit">Image credit: Rogue State Media</p>
      </div>
      <%= link_to "Read our white paper on the UK housing crisis", "https://medium.com/@AlastairParvin/scaling-the-citizen-sector-20a20dbb7a4c", class: 'bottom-link' %>
    </div>
  </div>
</div>

<%
  things = [
    ["Consortium badge & visibility",
    "Membership of online consortium group",
    "First private BETA access to the platform",
    "First opportunity to certify as a provider",
    "Invitation to seminars / workshops / launch events"],

    ["Support developing your pilot project, product or service",
    "Keynote talk from founder / workshops with the team*",
    "First opportunity to integrate your product / solution into the supply chain*"],

    ["Headline recognition as a core partner",
    "Set / host an R&D working group, major pilot project or open challenge",
    "Seat on the steering group",
    "Test and launch a system-wide product or service in the supply chain"]
  ]
%>
<div id="join-us">
  <div class="container">
    <h2>Join Us</h2>
    <table id="pricing-table">
      <thead>
        <tr>
          <td></td>
          <th><div><span>Provider</span></div></th>
          <th><div><span>Member</span></div></th>
          <th><div><span>Partner</span></div></th>
          <th><div><span>Core Partner</span></div></th>
        </tr>
      </thead>
      <% things.each_with_index do |thing, index| %>
        <tbody>
          <% thing.each do |label| %>
            <tr>
              <th><%= label %></th>
              <td data-label="Provider"><%= dot_helper index, -1 %></td>
              <td data-label="Member"><%= dot_helper index, 0 %></td>
              <td data-label="Partner"><%= dot_helper index, 1 %></td>
              <td data-label="Core Partner"><%= dot_helper index, 2 %></td>
            </tr>
          <% end %>
        </tbody>
      <% end %>
      <tfoot>
        <tr>
          <th><span class="title">ANNUAL</span></th>
          <td data-label="Provider" class="register-only"><span>Register</span> <span>interest</span> <span>only</span></td>
          <td class="price" data-label="Member">£1k+</td>
          <td class="price" data-label="Partner">£25k+</td>
          <td class="price" data-label="Core Partner">£50k+</td>
        </tr>
      </tfoot>
    </table>

    <p class="asterisk">* Figure & scope will vary case by case.</p>
  </div>

  <div style="position: relative; padding: 4em 0 2em 0;">
    <div class="container">
      <%= link_to "Get in touch", enquiries_path('becoming-a-partner'), class: 'bottom-link' %>
    </div>
  </div>
</div>

<%= render "partners" %>
