<div class="big-slider" style="background-image: url('https://i.imgur.com/UmxYPqN.jpg')">
  <div class="fade"></div>
  <div class="container">
    <h2>A-Barn</h2>
    <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</div>

<div class="propose-a-pilot-project">

<div class="container">
  <%= title "Propose a pilot project" %>
</div>

<div class="flex">
  <div class="half">
    <div class="container">

      <p>Do you want to use WikiHouse to build your project? </p>

      <p>The first WikiHouse technology is now in Beta, but there is not yet an established supply chain to provide it. </p>

      <p>Over the next two years, we will be developing new web tools and growing a wider network of architects, manufacturers, builders, insurers and suppliers ready to help you realise your project. In the meantime, there are a number of pilots happening around the world, from tiny studios to homes to whole neighbourhoods. If you would like your project to be one of these pilots, please take 5 minutes to tell us about it.</p>

      <p>We will try to connect you with the support you need to make it happen.</p>

    </div>
  </div>
  <div class="half">
    <div class="container">
      <%#= simple_form_for ProposalForm.new(Proposal.new) do |f| %>
        <%#= f.input :name %>
      <%# end %>

      <p>(NOT YET FUNCTIONAL)</p>

      <%= simple_form_for ProposalForm.new(Proposal.new) do |f| %>
        <%= f.input :role,
          label: "My role in the project will be",
          collection: [
          "Client","Architect","Builder","Project manager","Other"
          ] %>

        <%= f.input :name, label: "Full name" %>
        <%= f.input :organisation %>
        <%= f.input :email_address %>
        <%= f.input :country, as: :string %>
        <%= f.input :description, as: :text, label: "Outline description of your project" %>
        <%= f.input :has_site, label: "Do you have a site?", collection: ['Yes', 'Not yet'] %>
        <%= f.input :has_budget, label: "Do you have a budget?", collection: ['Yes', 'Not yet'] %>
        <%= f.input :has_planning, label: "Do you have planning permission?", collection: ['Yes', 'Not yet', 'Not needed', "It's complicated"] %>
        <%= f.input :has_mortgage, label: "Will your project be part financed by a mortgage?", collection: ['Yes', 'No', "Don't know yet"] %>
        <%= f.input :services_required,
          label: "What services will you be looking for, and what would you plan to do for yourself? <i>Don’t worry if these are just guesses for now.</i>".html_safe,
          collection: [
          "Project management",
          "Outline design",
          "Planning application",
          "Detail design",
          "Engineering / checking",
          "CNC manufacturing",
          "Site and foundations work",
          "Assembly",
          "Services and electrics",
          "R&D, developing new solutions"
          ], as: :check_boxes %>
        <!-- <p> (Looking for support, I will find someone, I will do it myself, not applicable) -->
        <%= f.input :anything_else, label: "Is there anything else you’d like to add about the project?", as: :text %>
        <%= f.submit "Submit", disabled: 'true' %>
      <% end %>
    </div>
  </div>
</div>
</div>
