<% title "Prospectus" %>
<%
vals = [["Pre", "Manual<br/> Distributed"], ["1st", "Mechanised<br/> Centralised"], ["2nd", "Electrical<br/> Centralised"], ["3rd", "Digital<br/> Centralised"], ["4th", "Digital<br/> Decentralised"]]
%>
<div class="container" id="revolutions">
  <div class="flex">
  <% vals.each_with_index do |val, index| %>
    <div class="part">
      <div class="img"><%= image_tag "prospectus/Asset #{index+20}.svg" %></div>
      <h3><%= val[0] %></h3>
      <p><%= val[1].html_safe %></p>
    </div>
  <% end %>
  </div>
</div>

<div class="flex">
  <div class="half next-industrial">
    <div class="container">
      <h2>The next industrial revolution in housing</h2>
      <p>Along with our partners WikiHouse Foundation are developing the first smart, distributed supply chain for homes. Join us.</p>
      <%= link_to "Download our PDF prospectus", "#", class: 'bottom-link' %>
    </div>
  </div>

  <div class="half digital-infrastructure">
    <div class="fade"></div>
    <div class="container" style="z-index: 200; position: relative">
      <h2>Digital infrastructure for resilient cities</h2>
    </div>
  </div>
</div>

<div id="join-us">
  <div class="container">
    <h2>Join Us</h2>
    <table>
      <thead>
        <tr><td></td><th><div><span>Supporter</span></div></th><th><div><span>Partner</span></div></th><th><div><span>Core Partner</span></div></th></tr>
      </thead>
      <tbody>
        <tr><th>Use of WikiHouse supporter / partner badge</th><td data-label="Supporter">●</td><td data-label="Partner">●</td><td data-label="Core Partner">●</td></tr>
        <tr><th>Visible on all website & communications</th><td data-label="Supporter">●</td><td data-label="Partner">●</td><td data-label="Core Partner">●</td></tr>
        <tr><th>Membership of online consortium group</th><td data-label="Supporter">●</td><td data-label="Partner">●</td><td data-label="Core Partner">●</td></tr>
        <tr><th>First private BETA access to the platform</th><td data-label="Supporter">●</td><td data-label="Partner">●</td><td data-label="Core Partner">●</td></tr>
        <tr><th>Invitation to annual seminar / launch event</th><td data-label="Supporter">●</td><td data-label="Partner">●</td><td data-label="Core Partner">●</td></tr>
        <tr><th>First opportunity to certify as a provider in the supply chain</th><td data-label="Supporter">●</td><td data-label="Partner">●</td><td data-label="Core Partner">●</td></tr>
      </tbody>
      <tbody>
        <tr><th>Support developing your pilot project, product or service</th><td data-label="Supporter">&nbsp;</td><td data-label="Partner">●</td><td data-label="Core Partner">●</td></tr>
        <tr><th>Keynote talk from founder / workshops with the team (as agreed)</th><td data-label="Supporter">&nbsp;</td><td data-label="Partner">●</td><td data-label="Core Partner">●</td></tr>
        <tr><th>First opportunity to list your product in the supply chain (as appropriate)</th><td data-label="Supporter">&nbsp;</td><td data-label="Partner">●</td><td data-label="Core Partner">●</td></tr>
      </tbody>
      <tbody>
        <tr><th>Headline recognition as a core partner in the WikiHouse project</th><td data-label="Supporter">&nbsp;</td><td data-label="Partner">&nbsp;</td><td data-label="Core Partner">●</td></tr>
        <tr><th>Set/host an R&D working group, major pilot project or open challenge</th><td data-label="Supporter">&nbsp;</td><td data-label="Partner">&nbsp;</td><td data-label="Core Partner">●</td></tr>
        <tr><th>Seat on the steering group</th><td data-label="Supporter">&nbsp;</td><td data-label="Partner">&nbsp;</td><td data-label="Core Partner">●</td></tr>
        <tr><th>Test and launch a system-wide product or service in the supply chain</th><td data-label="Supporter">&nbsp;</td><td data-label="Partner">&nbsp;</td><td data-label="Core Partner">●</td></tr>
      </tbody>
      <tfoot>
        <tr><th><span class="title">Suggested Amount</span></th><td data-label="Supporter">£5k+</td><td data-label="Partner">£15k+</td><td data-label="Core Partner">£50k+</td></tr>
      </tfoot>
    </table>
  </div>

  <div class="container" style="position: relative; padding: 4em 0 2em 0;">
    <%= link_to "Get in touch", enquiries_path, class: 'bottom-link' %>
  </div>
</div>

<%= render "partners" %>
