<% content_for :header do %>
  <div class="container">
    <div class="top-description"><h1><%= link_to "Library", library_categories_path %> / Technologies</h1></div>
  </div>
<% end %>
<div id="technologies-container">
<div class="container">
  <% @technologies.each do |technology| %>
    <%= "<a href='#{request.path}/#{technology['name'].parameterize}'>".html_safe if technology.repos.count > 0 %>
      <div class="technology technology-icon-<%= technology.id %>" style="background-color: <%= technology.color %>">
        <div class="hover"></div>
        <span class="count"><%= technology.repos.count %></span>
        <%= image_tag "technologies/technology_#{technology.id}.svg", class: 'technologies-icon' %>
        <%= technology.name %>
      </div>
    <%= '</a>'.html_safe if (technology.repos.count > 0) %>
  <% end %>
</div>
</div>
