<% content_for :header do %>
  <div class="container">
    <div class="top-description"><h1><%= link_to "Library", library_categories_path %> / Technologies</h1></div>
  </div>
<% end %>
<div id="products-container">
<div class="container">
  <% JSON.parse(open('data/products.json').read).each_with_index do |item, index| %>
    <%= "<a href='#{request.path}/structure'>".html_safe if (item['count'].to_i > 0) %>
      <div class="product product-icon-<%= index + 7 %>" style="background-color: <%= item['color'] %>">
        <div class="hover"></div>
        <span class="count"><%= item['count'] %></span>
        <%= image_tag "icons/Asset #{index + 7}.svg", class: 'products-icon' %>
        <%= item['name'] %>
      </div>
    <%= '</a>'.html_safe if (item['count'].to_i > 0) %>
  <% end %>
</div>
</div>
