<% content_for :header do %>
  <div class="container">
    <div class="top-description"><h1><%= link_to "Library", library_categories_path %> / Technologies</h1></div>
  </div>
<% end %>
<div id="products-container">
<div class="container">
  <% @products.each do |product| %>
    <%= "<a href='#{request.path}/#{product['name'].parameterize}'>".html_safe if product.repos.count > 0 %>
      <div class="product product-icon-<%= product.id %>" style="background-color: <%= product.color %>">
        <div class="hover"></div>
        <span class="count"><%= product.repos.count %></span>
        <%= image_tag "products/product_#{product.id}.svg", class: 'products-icon' %>
        <%= product.name %>
      </div>
    <%= '</a>'.html_safe if (product.repos.count > 0) %>
  <% end %>
</div>
</div>
