<% content_for :header do %>
  <div class="container">
    <div class="top-description"><%= title "Library" %></div>
  </div>
<% end %>

<div class="types">

  <%= link_to library_category_things_path(library_category_id: "types") do %>
  <div class="type big-type-link">
    <div class="inner">
      <div class="img"><%= image_tag "library/Asset 1.svg" %></div>
      <div class="description">
        <h2>Types</h2>
        <p>Ready-designed standard building layouts, combining a number of technologies into a whole building design which can be adapted to fit different users and sites.</p>
      </div>
    </div>
  </div>
  <% end %>

  <%= link_to library_category_things_path(library_category_id: "technologies") do %>
  <div class="type big-type-link">
    <div class="inner">
      <div class="img"><%= image_tag "library/Asset 2.svg" %></div>
      <div class="description">
        <h2>Technologies</h2>
        <p>Open technologies and systems that can make up sub-components of an overall building.</p>
      </div>
    </div>
  </div>
  <% end %>

  <%= link_to library_category_things_path(library_category_id: "tools") do %>
  <div class="type big-type-link">
    <div class="inner">
      <div class="img"><%= image_tag "library/Asset 3.svg" %></div>
      <div class="description">
        <h2>Tools</h2>
        <p>Open source tools for the manufacture or assembly of homes.</p>
      </div>
    </div>
  </div>
  <% end %>

</div>
