<footer>
  <div class="container">

    <div class="footer-nav">
      <ul id="footer-list">
        <li><strong>WikiHouse Foundation</strong></li>
        <li>UK Registered non-profit</li>
        <li><%= link_to "About Us", about_path %></li>
        <li><%= link_to "Contact Us", enquiries_path %></li>
        <li><%= link_to "Terms of Use", terms_path %></li>
        <li>CC_BY_SA <%= Time.now.year %></li>
      </ul>
    </div>

    <div class="social-icons-holder">
      <ul id="social-icons">
        <li><%= social_icon "twitter", "https://twitter.com/WikiHouse" %></li>
        <li><%= social_icon "facebook", "https://facebook.com/WikiHouse" %></li>
        <li><%= social_icon "instagram", "https://instagram.com/wikihouseproject" %></li>
        <li><%= social_icon "medium", "https://medium.com/@WikiHouse" %></li>
        <li><%= social_icon "slack", communities_guide_path %></li>
        <li><%= social_icon "github", "https://github.com/wikihouseproject" %></li>
      </ul>
    </div>

  </div>

</footer>
