<div id="media-links">
  <div class="container">
    media links
  </div>
</div>

<div id="partners-logos">
  <div class="container">
    partners logos
  </div>
</div>

<footer>
  <div class="container">

    <div class="footer-nav">
      <ul id="footer-list">
        <li><strong>WikiHouse Foundation</strong></li>
        <li>UK Registered non-profit</li>
        <li>About Us</li>
        <li>Contact Us</li>
        <li>Terms of Use</li>
        <li>CC_BY_SA</li>
      </ul>
    </div>

    <div class="social-icons-holder">
      <ul id="social-icons">
        <li><%= social_icon "twitter", "https://twitter.com/WikiHouse" %></li>
        <li><%= social_icon "facebook", "https://facebook.com/WikiHouse" %></li>
        <li><%= social_icon "instagram", "https://instagram.com/wikihouseproject" %></li>
        <li><%= social_icon "medium", "https://medium.com/@WikiHouse" %></li>
        <li><%= social_icon "slack", "https://bit.ly/whslackterms" %></li>
      </ul>
    </div>

  </div>

</footer>
