<header id="main-header">
  <div class="container">
    <%= link_to root_path, id: 'logo-link' do %><%= image_tag "wikihouse-logo_1@2x.png", id: 'logo' %><% end %>

    <a href="#" id="main-toggler">
      <span class="toggle-menu">
        <!-- these 4 spans are required for the hamburger menu icon -->
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </span>
    </a>

    <ul id="main-menu">
      <li><%= header_link_to "About", about_path %></li>
      <li><%= header_link_to "Library", library_categories_path %></li>
      <li><%= header_link_to "R&D", community_path %></li>
      <li><%= header_link_to "Partners", partners_path %></li>
    </ul>

  </div>
</header>

<header id="sub-header"><%= yield(:header) %></header>
