<header class="site-header -dark -homepage js-site-header" role="banner" data-color="#EEE" data-contrast="dark">
  <div class="_wrapper js-nav-row">
    <div class="_fake-shadow js-fake-shadow" aria-hidden="true"></div>
  </div>
  <div class="_color js-header-background" style="background-color: #EEE;">
    <div class="page-title-container -dark js-change-page-title-contrast" aria-hidden="true">
      <div class="c-max">
        <h1 class="_page-title js-hide-page-title"><span class="hidden-chars js-hide-eol-dot">         <span class="_original">Google Design</span>         <span class="_dotted js-dotted" aria-hidden="true">Google<span class="_dot js-dot"> </span>Design<span class="_return"></span></span>       </span></h1>
      </div>
    </div>
    <div class="_fake-shadow js-fake-shadow" aria-hidden="true"></div>
  </div>
  <div class="_wave-layer js-wave-layer"></div>
  <div class="_nav-text">
    <div class="c-max">
      <a class="skip -off-screen js-disable-ajax-link" href="#main">Skip to Content</a>
      <!-- <a class="_title js-hidden-on-homepage js-animate-contrast-color js-wave-trigger" href="/"><span class="hidden-chars js-hide-eol-dot">         <span class="_original">Google Design</span>         <span class="_dotted js-dotted" aria-hidden="true">Google<span class="_dot js-dot"> </span>Design<span class="_return"></span></span>       </span></a> -->

      <%= link_to root_path, id: 'logo-link' do %><%= image_tag "wikihouse-logo.svg", id: 'logo' %><% end %>

      <nav class="site-nav js-nav-state" role="navigation">
        <h2 class="-off-screen">Global Navigation</h2>
        <ul class="_nav-items">
          <li class="_nav-item"><%= link_to "About", about_path, class: "js-animate-contrast-color js-nav-state-item js-wave-trigger" %></li>
          <li class="_nav-item"><%= link_to "Library", library_path, class: "js-animate-contrast-color js-nav-state-item js-wave-trigger" %></li>
          <li class="_nav-item"><%= link_to "R&D", community_path, class: "js-animate-contrast-color js-nav-state-item js-wave-trigger" %></li>
          <li class="_nav-item"><%= link_to "Partners", partners_path, class: "js-animate-contrast-color js-nav-state-item js-wave-trigger" %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
