<div id="hero-holder" class="main-slider-holder">
  <div class="hero slider">
    <ul>
      <li style="background-image: url('<%= asset_path('hero.jpg') %>')">
        <div class="fade"></div>
        <div class="container">
          <div class="slide-content">
            <span class="typed">The future of homes<br/> by everyone, for everyone</span>
            <p>Simple, sustainable, open building technologies</p>
            <%= link_to "View the GitHub Library", "#", class: 'white-button' %>
          </div>
        </div>
      </li>
      <li class="hidden" style="background-image: url('<%= asset_path('slides/LyntonPepper_CC_BY_1063_ed_sm.jpg') %>')">
        <div class="fade"></div>
        <div class="container">
          <div class="slide-content">
            <span class="typed">Custom design,<br/> precision manufacturing</span>
            <p>The next industrial revolution in the way we make homes</p>
            <%= link_to "Find out more", "#", class: 'white-button' %>
          </div>
        </div>
      </li>
      <li class="hidden" style="background-image: url('<%= asset_path('slides/Farmhouse10_WikiHouseFoundation_CC_BY.jpg') %>')">
        <div class="fade"></div>
        <div class="container">
          <div class="slide-content">
            <span class="typed">High-performance homes<br/> made simple</span>
            <p>Sustainable design solutions that can be assembled by anyone</p>
            <%= link_to "Watch a video", "#", class: 'white-button' %>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
