<div id="homepage-slider" class="main-slider-holder">
  <div class="slider">
    <ul>
      <li style="background-image: url('<%= asset_path('hero.jpg') %>')" class="dark">
        <div class="fade"></div>
        <div class="s-container">
          <div class="slide-content">
            <span class="typed">The future of homes<br/> by everyone, for everyone</span>
            <p>Simple, sustainable, open building technologies</p>
            <%#= link_to "View the Library", things_path, class: 'white-button' %>
          </div>
          <%= link_to "View the github library", library_categories_path, class:'bottom-link dark' %>
        </div>
      </li>
      <li class="hidden" style="background-image: url('<%= asset_path('slides/LyntonPepper_CC_BY_1063_ed_sm.jpg') %>')">
        <div class="fade"></div>
        <div class="s-container">
          <div class="slide-content">
            <span class="typed">Custom design,<br/> precision manufacturing</span>
            <p>The next industrial revolution in the way we make homes</p>
            <%#= link_to "Find out more", about_path, class: 'white-button' %>
          </div>
          <%= link_to "Find out more", about_path, class:'bottom-link' %>
        </div>
      </li>
      <li class="hidden" style="background-image: url('<%= asset_path('slides/Farmhouse10_WikiHouseFoundation_CC_BY.jpg') %>')">
        <div class="fade"></div>
        <div class="s-container">
          <div class="slide-content">
            <span class="typed">High-performance homes<br/> made simple</span>
            <p>Sustainable design solutions that can be assembled by anyone</p>
            <%#= link_to "Watch a video", "https://www.youtube.com/watch?v=Mlt6kaNjoeI", class: 'white-button' %>
          </div>
          <%= link_to "Watch a video", '#', class:'bottom-link' %>
        </div>
      </li>
    </ul>
  </div>
</div>
