<header id="main-header" class="<%= 'large' if request.path == root_path %>">
  <div class="container">
    <%= link_to root_path, id: 'logo-link' do %><%= image_tag "wikihouse-logo.svg", id: 'logo' %><% end %>
    <a href="#" id="main-toggler">
      <span class="toggle-menu">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </span>
    </a>

    <ul id="main-menu">
      <!-- <li><%= link_to "WikiHouse", root_path, 'data-tg-refresh': 'page' %></li> -->
      <li><%= link_to "About", about_path, 'data-tg-refresh': 'page', class: ('active' if request.path == about_path) %></li>
      <li><%= link_to "Library", library_path, 'data-tg-refresh': 'page', class: ('active' if request.path == library_path) %></li>
      <li><%= link_to "R&D", community_path, 'data-tg-refresh': 'page', class: ('active' if request.path == community_path) %></li>
      <li><%= link_to "Partners", partners_path, 'data-tg-refresh': 'page', class: ('active' if request.path == partners_path) %></li>
      <!-- <li><%= link_to fa_icon("bars"), '#', id: 'toggle-menu' %></li> -->
    </ul>

  </div>
</header>

<%# if content_for?(:header) %>
  <header id="sub-header"><%= yield(:header) %></header>
<%# end %>
