<div id="partners-logos">
  <ul id="partners-icons">
    <li><%= image_tag "partners/00-01.svg" %></li>
    <li><%= image_tag "partners/ARUP-01.svg" %></li>
    <li><%= image_tag "partners/big-lottery-fund-bw.svg" %></li>
    <!-- <li><%= image_tag "partners/big-lottery-fund.svg" %></li> -->
    <li><%= image_tag "partners/ClimateKIC-01.svg" %></li>
    <li><%= image_tag "partners/FutureCitiesCatapult-01.svg" %></li>
    <li><%= image_tag "partners/InnovateUK-01.svg" %></li>
    <li><%= image_tag "partners/Momentum-01.svg" %></li>
    <li><%= image_tag "partners/Nesta-01.svg" %></li>
    <li><%= image_tag "partners/SpaceCraftSystems-01.svg" %></li>
    <li><%= image_tag "partners/Suncorp-01.svg" %></li>
    <li><%= image_tag "partners/SYHA-01.svg" %></li>
    <li><%= image_tag "partners/The Power to Change bw.svg" %></li>
    <!-- <li><%= image_tag "partners/The Power to Change org.svg" %></li> -->
    <li><%= image_tag "partners/UnLtd-01.svg" %></li>
  </ul>
</div>
