<div id="partners-logos">
  <ul id="partners-icons">
    <% if cms_content? -%>
      <% partners.each do |partner| -%>
        <li><%= partner.linked_image %></li>
      <% end -%>
    <% else -%>
    <li><%= image_tag "partners/00-01.svg", alt: "00" %></li>
    <li><%= image_tag "partners/ARUP-01.svg", alt: "ARUP" %></li>
    <li><%= image_tag "partners/big-lottery-fund-bw.svg", alt: "Big Lottery Fund" %></li>
    <!-- <li><%= image_tag "partners/big-lottery-fund.svg" %></li> -->
    <li><%= image_tag "partners/ClimateKIC-01.svg", alt: "ClimateKIC" %></li>
    <li><%= image_tag "partners/FutureCitiesCatapult-01.svg", alt: "Future Cities Catapult" %></li>
    <li><%= image_tag "partners/InnovateUK-01.svg", alt: "Innovate UK" %></li>
    <li><%= image_tag "partners/Momentum-01.svg", alt: "Momentum" %></li>
    <li><%= image_tag "partners/Nesta-01.svg", alt: "Nesta" %></li>
    <li><%= image_tag "partners/SpaceCraftSystems-01.svg", alt: "Spacecraft Systems" %></li>
    <li><%= image_tag "partners/Suncorp-01.svg", alt: "Suncorp" %></li>
    <li></li>
    <li><%= image_tag "partners/SYHA-01.svg", alt: "SYHA" %></li>
    <li><%= image_tag "partners/The Power to Change bw.svg", alt: "Power to Change" %></li>
    <!-- <li><%= image_tag "partners/The Power to Change org.svg" %></li> -->
    <li><%= image_tag "partners/UnLtd-01.svg", alt: "UnLtd" %></li>
    <% end -%>
  </ul>
</div>
