<div class="flex drop-shadow">

  <div class="half propose">
    <%= link_to propose_a_pilot_path do %>
      <div class="container">
        <div class="top wr">
          <h3>Propose a pilot project.</h3>
          <p>The first WikiHouse technologies are in BETA stage and are being used in pilot projects. If you'd like your project to be one of them, please tell us about it here.</p>
          <%= image_tag "righthouse.svg", style: 'width: 75%; float: right; margin-right: 10px; margin-top: 30px; margin-bottom: 50px;' %>
        </div>
        <%= link_to "Propose a pilot", propose_a_pilot_path, class: 'bottom-link', style: 'text-transform: none' %>
      </div>
    <% end %>
  </div>

  <div class="half stats" id="counts">
    <div class="container">
      <div class="top wr">
        <div class="info"><span class="count" id="c0"><%= Repo.count %></span> library solutions</div>
        <div class="info"><span class="count" id="c4"><%= Repo.total_filecount %></span> individual files</div>
        <div class="info"><span class="count" id="c3"><%= Repo.total_commits %></span> commits</div>
        <div class="info"><span class="count" id="c1"><%= Repo.total_watchers %></span> repository watchers</div>
        <div class="info"><span class="count" id="c5">5</span> open challenges</div>
      </div>
      <%= link_to "Contribute to R&D", community_path, class: 'bottom-link', style: 'text-transform: none' %>
    </div>
  </div>

</div>
