<%= simple_form_for Enquiry.new(kind: 'project-proposal'), remote: true, authenticity_token: true do |f| %>

  <%= f.simple_fields_for :data do |sf| %>

    <p><%= sf.input :role,
        label: "I am a...",
        collection: [
          "Project Owner",
          "Architect",
          "Project organiser",
          "Contractor",
          "Other"
        ],
        input_html: {
          class: 'mdc-select mdc-dark hidden-toggle propose-toggle'
        }, wrapper: :default %></p>

    <div class="hidden-fields">
      <%= f.input :kind, as: :hidden %>
      <%= f.input :first_name, required: true %>
      <%= f.input :last_name, required: true %>
      <%= f.input :email, as: :email, required: true %>

      <%= sf.input :organisation, required: true %>
      <%= sf.input :country, selected: request.headers["HTTP_CF_IPCOUNTRY"].try(:upcase), include_blank: true, wrapper: :default, input_html: { class: 'mdc-select mdc-dark' } %>
      <p style="display: none;" id="country-notification">We're currently not able to help projects outside the EU. However we would still love to hear from you so we know where to support next.</p>
      <%= sf.input :description, as: :text, label: "Outline description of your project", wrapper: :default %>
      <%= sf.input :has_site, label: "Do you have a site?", collection: ['Yes', 'Not yet'], as: :radio_buttons, wrapper: :default %>
      <%= sf.input :budget, label: "What is your estimated budget?<span class='hint'>(leave blank if none)</span>".html_safe, wrapper: :default %>
      <%= sf.input :has_planning, label: "Do you have planning permission?", collection: ['Yes', 'Not yet', 'Not needed', "It's complicated"], as: :select, wrapper: :default, input_html: { class: 'mdc-select mdc-dark' } %>
      <%= sf.input :has_mortgage, label: "Will your project be part financed by a mortgage?", collection: ['Yes', 'No', "Don't know yet"], as: :select, wrapper: :default, input_html: { class: 'mdc-select mdc-dark' } %>
      <%= sf.input :services_required,
        label: "Which services do you require? <i>Don’t worry if these are just guesses for now.</i>".html_safe,
        collection: [
        "Outline design",
        "Planning application",
        "Detail design",
        "Engineering / checking",
        "CNC manufacturing",
        "Construction management",
        "Site and foundations contractor",
        "Part or full assembly contractor",
        "Electrical / plumbing contractors",
        "Project support from WikiHouse Foundation"
        ], as: :check_boxes, wrapper: :default %>
      <%= sf.input :anything_else, label: "Is there anything else you’d like to add about the project?", as: :text, wrapper: :default %>
      <%= f.invisible_captcha :subtitle %>
      <%= f.submit "Submit Project Proposal" %>
    </div>
  <% end %>
<% end %>

<div class="thanks" id="thank-you">
  <div class="container">
    <h1>Thank you.</h1>
    <p>Message received, thank you. One of the team will get in contact with you as soon as possible.</p>
  </div>
</div>
