<%= simple_form_for Enquiry.new(kind: 'project-proposal'), remote: true do |f| %>

  <%= f.simple_fields_for :data do |sf| %>
    
    <p><%= sf.input :role,
          # label: "My role in the project will be",
          collection: [
          "Client","Architect","Builder","Project manager","Other"
          ], label: "I am a...", input_html: { class: 'hidden-toggle propose-toggle' }, wrapper: :default %></p>


<!--     <div class="mui-dropdown">
      <button class="mui-btn mui-btn--primary" data-mui-toggle="dropdown">
        <span class="mui-caret"></span>
      </button>
      <ul class="mui-dropdown__menu">
        <li><a href="#">Client</a></li>
        <li><a href="#">Architect</a></li>
        <li><a href="#">Builder</a></li>
        <li><a href="#">Project manager</a></li>
        <li><a href="#">Other</a></li>
      </ul>
    </div> -->


    <div class="hidden-fields">
      <%= f.input :kind, as: :hidden %>
      <%= f.input :first_name, required: true %>
      <%= f.input :last_name, required: true %>
      <%= f.input :email, as: :email, required: true %>

      <%= sf.input :organisation, required: true %>
      <%= sf.input :country, selected: request.headers["HTTP_CF_IPCOUNTRY"].try(:upcase), include_blank: true, wrapper: :default %>
      <%= sf.input :description, as: :text, label: "Outline description of your project", wrapper: :default %>
      <%= sf.input :has_site, label: "Do you have a site?", collection: ['Yes', 'Not yet'], as: :radio_buttons, wrapper: :default %>
      <%= sf.input :has_budget, label: "Do you have a budget?", collection: ['Yes', 'Not yet'], as: :radio_buttons, wrapper: :default %>
      <%= sf.input :has_planning, label: "Do you have planning permission?", collection: ['Yes', 'Not yet', 'Not needed', "It's complicated"], as: :select, wrapper: :default %>
      <%= sf.input :has_mortgage, label: "Will your project be part financed by a mortgage?", collection: ['Yes', 'No', "Don't know yet"], as: :select, wrapper: :default %>
      <%= sf.input :services_required,
        label: "What services will you be looking for, and what would you plan to do for yourself? <i>Don’t worry if these are just guesses for now.</i>".html_safe,
        collection: [
        "Project management",
        "Outline design",
        "Planning application",
        "Detail design",
        "Engineering / checking",
        "CNC manufacturing",
        "Site and foundations work",
        "Assembly",
        "Services and electrics",
        "R&D, developing new solutions"
        ], as: :check_boxes, wrapper: :default %>
      <%= sf.input :anything_else, label: "Is there anything else you’d like to add about the project?", as: :text, wrapper: :default %>
      <%= f.invisible_captcha :subtitle %>
      <%= f.submit "Submit Project Proposal" %>
    </div>
  <% end %>
<% end %>
