<% content_for :header do %>
  <div class="container enquiries-header">
    <div class="top-description">
      <h1>Contact us</h1>
      <div id="enquiries-header">
        <span class="interested-in">I am interested in...</span>
        <div class="select-manager">
          <select class="mdc-select enquiry-select">
            <% @filenames.each do |filename| %>
              <option value="<%= enquiry_path(filename.gsub('_','-')) %>" <%= "selected" if request.path == enquiry_path(filename.gsub('_','-')) %>>
                <%= filename.humanize %>
              </option>
            <% end %>
            <option value="<%= propose_a_pilot_path %>">Proposing a pilot</option>
          </select>
          <%= link_to "go", enquiries_path, id: 'change-link' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
