<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <title><%= raw(content_for?(:title) ? "#{yield(:title)}  | WikiHouse" : "WikiHouse") %></title>
    <%= csrf_meta_tags %>

    <!-- <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
     -->

  </head>

  <body class="c-<%= controller_name %> a-<%= action_name %>">
    <% if flash.any? %>
      <div class="container">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, class: "flash flash-#{name}" %>
        <% end %>
      </div>
    <% end %>
    <header id="main-header">
    <%#= render "application/header" %>
    <!--  data-turbolinks-permanent -->
      <div class="container">
        <%= link_to root_path do %><%= image_tag "wikihouse-logo.svg", id: 'logo' %><% end %>
        <ul id="main-menu">
          <li><%= link_to "WikiHouse", root_path, 'data-tg-refresh': 'page' %></li>
          <li><%= link_to "About", about_path, 'data-tg-refresh': 'page' %></li>
          <li><%= link_to "Library", library_path, 'data-tg-refresh': 'page' %></li>
          <li><%= link_to "R&D", community_path, 'data-tg-refresh': 'page' %></li>
          <li><%= link_to "Partners", partners_path, 'data-tg-refresh': 'page' %></li>
          <li><%= link_to fa_icon("bars"), '#', id: 'toggleMenu' %></li>
        </ul>
      </div>
    </header>

    <% if content_for?(:header) %><header id="sub-header" class="drop-shadow"><%= yield(:header) %></header><% end %>

    <%= yield %>

    <%= render "footer" %>

    <ul id="side-nav">
      <li><%= link_to "About WikiHouse Foundation", about_wikihouse_foundation_path %></li>
      <li><%= link_to "Propose", propose_path %></li>
      <li><%= link_to "Prospectus", prospectus_path %></li>
    </ul>

  </body>
</html>
