<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <%= render "favicon" %>

    <title><%= raw(content_for?(:title) ? "#{yield(:title)}  | WikiHouse" : "WikiHouse") %></title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body class="c-<%= controller_name %> a-<%= action_name %> <%= 'large' if request.path == root_path %>"">
    <% if flash.any? %>
      <div class="container">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, class: "flash flash-#{name}" %>
        <% end %>
      </div>
    <% end %>

    <%= render "main_header" %>

    <% if content_for?(:header) %><header id="sub-header" class="drop-shadow"><%= yield(:header) %></header><% end %>

    <!-- animated fadeInUp -->
    <div id="main" role="main" class="Animated Animate--slideInUp"><%= yield %></div>

    <%= render "footer" %>

    <ul id="side-nav">
      <li><%= link_to "Enquiries", enquiries_path %></li>
      <li><%= link_to "About WikiHouse Foundation", about_wikihouse_foundation_path %></li>
      <li><%= link_to "Propose", propose_path %></li>
      <li><%= link_to "Prospectus", prospectus_path %></li>
    </ul>

    <script type="text/javascript">
      new Pjax({
        elements: "a", // default is "a[href], form[action]"
        selectors: ["title", "meta[name=csrf-token]", "#sub-header", "#main"],
        switches: {
          "#main": Pjax.sideBySide,//require("pjax/lib/switches.js").sideBySide
          "#sub-header": Pjax.sideBySide
        },
        switchesOptions: {
          "#main": {
            classNames: {
              remove: "Animated Animated--reverse Animate--fast Animate--noDelay",
              add: "Animated",
              backward: "Animate--slideInDown",
              forward: "Animate--slideInUp"
            },
            callbacks: {
              removeElement: function(el) {
              alert("A")
                el.style.marginLeft = "-" + (el.getBoundingClientRect().width/2) + "px"
              }
            }
          },

          "#sub-header": {
            classNames: {
              remove: "Animated Animated--reverse Animate--fast Animate--noDelay",
              add: "Animated",
              backward: "Animate--slideInDown",
              forward: "Animate--slideInUp"
            },
            callbacks: {
              removeElement: function(el) {
                el.style.marginLeft = "-" + (el.getBoundingClientRect().width/2) + "px"
              }
            }
          }


        }

      })
    </script>

  </body>
</html>
